@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$max-width: 700px;
$buffer: 60px;
$brand-color: #fcc443;
$link-color:#000;

body {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  counter-reset: chapter;
}

header {
  background-color: $brand-color;
  padding-top: 120px;
  padding-bottom: 50px;
  > h1, h2, h3 {
    max-width: $max-width;
    margin: 0 auto;    
    padding: 0 $buffer;
  }
  > h1 {
    color: rgba(0, 0, 0, .9);
    font-size: 40px;
    font-weight: 400;    
  }
  > h2 {
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    margin-bottom: 30px;
  }
  > h3 {
    margin-top: 30px;
    color: rgba(0, 0, 0, .2);
    font-weight: 500;
    font-size: 16px;
  }
}

section {
  max-width: $max-width;
  margin: 0 auto 60px;
  padding: 0 $buffer;
  line-height: 1.6;
  > h1, h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .9);
    font-weight: 400;    
    position: relative;
  }
  h1 + h2 {
    margin-top: -30px;
    font-size: 19px;
    font-weight: 300;
    color: #aaa;
  }
  > h1:before {
    counter-increment: chapter;
    content: counter(chapter) ".";
    position: absolute;
    width: 30px;
    left: -50px;
  }
  h1 {
    font-size: 1.5em;      
  }
  h2 {
    font-size: 1.3em;
  }
  li {
    margin-bottom: 16px;
    li {
      margin-top: 16px;
    }
  }
  ol, ul {
    margin-bottom: 16px;
    margin-left: 0;
  }
}

strong {
  font-weight: 600;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px dashed #000;
}

code, pre {
  font-family: 'Source Code Pro';
  color: #888;
}

ul, ol {
  padding-left: 20px;
  > li {
    padding-left: 10px;
    overflow: visible;
  }
}

p img {
  width: 100%;
}

@page {
  margin: 20mm 0 25mm;
}

@page:first {
  margin-top: 0;
}

@media print {
  $gutter: 50mm;
  body {
    font-size: 13px;
  }
  section {
    padding-left: $gutter;
    padding-right: 20mm;
    > h1:before {
      left: -30mm;
      text-align: right;
    }

  }
  header > * {
    padding-left: $gutter !important;
  }
  p img {
    margin-left: -30mm;
    margin-right: 30mm;
    width: 120%;
  }
}

