doctype html
html
  head
    meta(charset='UTF-8')
    style
      include:postcss:scss layout.scss
  body
    .main
      header
        h1= page.title
        if page.subtitle
          h2= page.subtitle
        h3 #{date} (#{revision})
      section
        != contents
